<template name="newRelease">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="url">BarCode</label>
            <div class="controls">
                <input name="barcode" id="barcode" type="text" value="" placeholder="Release barcode
" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>

    {{#with results}}
        <!-- if location has an error property, display it -->
        {{#if error}}
            <p>There was an error: {{error.errorType}} {{error.message}}!</p>
        {{else}}
            {{>releaseResults}}
        {{/if}}
    {{/with}}
</template>
