<template name="newRelease">
    <form class="ui form">
        <div class="field">
            <label>Release Barcode</label>
            <input type="text" name="barcode" id="barcode" placeholder="888751365520">
        </div>
        <button class="ui button" type="submit">Go Get It</button>
        </form>
    {{#with results}}
        <!-- if location has an error property, display it -->
        {{#if error}}
            <p>There was an error: {{error.errorType}} {{error.message}}!</p>
        {{else}}
            {{>releaseResults}}
        {{/if}}
    {{/with}}
</template>
