<template name="releaseItem">

        <div class="card">
            <div class="image">
                <img src="http://placehold.it/350x350">
            </div>
            <div class="content">
                <div class="header">{{release.name}}</div>
                <div class="meta">
                    {{artist}}
                </div>
                <div class="description">
                    bla bla
                </div>
            </div>
            <div class="extra content">
      <span class="right floated">
        Joined in 2013
      </span>
      <span>
        <i class="user icon"></i>
        75 Friends
      </span>
            </div>
        </div>

</template>