<template name="header">
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item" data-action="goHome">
                <i class="sidebar icon" data-action="sidebar"></i>CD Shelf
            </div>
            <div class="item">
                <a href="{{pathFor 'newRelease'}}"><i class="plus icon">

                </i>Add Release</a>
            </div>
            <div class="menu right">
                <div class="item">
                    <div class="ui button" id="at-nav-button">Sign In</div>
                </div>
            </div>
        </div>
    </div>
</template>